.phrase {
    position: absolute;
    background-color: lightgray;
    margin: 6px 0 6px 6px;
    border: 1px solid silver;
    padding: 1px 5px;
}

.suggest {
    position: absolute;
    background-color: lightcyan;
    border: 1px solid silver;
    padding: 0;
}

.suggest ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.suggest ul li {
  padding-left: 5px;
}

.suggest ul li.selected {
    background-color: lightgray;
}